@import "sass/mixins/global-variables";
@import "sass/mixins/global-mixins";

@font-face {
  font-family: "Conv_segoeui";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/segoeui.eot"),
  url("../fonts/segoeui.woff") format("woff"),
  url("../fonts/segoeui.ttf") format("truetype"),
  url("../fonts/segoeui.svg") format("svg");
}

@font-face {
  font-family: "Conv_segoeuib";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/segoeuib.eot"),
  url("../fonts/segoeuib.woff") format("woff"),
  url("../fonts/segoeuib.ttf") format("truetype"),
  url("../fonts/segoeuib.svg") format("svg");
}

@font-face {
  font-family: "Conv_seguisb";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/seguisb.eot"),
  url("../fonts/seguisb.woff") format("woff"),
  url("../fonts/seguisb.ttf") format("truetype"),
  url("../fonts/seguisb.svg") format("svg");
}
// Note: !important used to override other css file.

// Generic css

// Body & Other general elements
/*css*/


body {
  background-color: #f0f4f7 !important;
  /*background: url(../images/backgroung.jpg) no-repeat;*/
  background-position: bottom right !important;
  background-repeat: no-repeat !important;
  background-size: 25%;
  border: 0 none;
  color: $base-color;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  @include no-margin-padding;
  transition: all .35s linear 0s;
  width: 100%;
  @media (max-width: 767px) {
    background-position: right bottom;
    background-size: 325px !important;
    width: 100%;
  }
  * {
    box-sizing: border-box;
    /*font-family:Verdana,Tahoma,Arial,Sans-Serif;*/
    /*font-family:'Conv_segoeui',Sans-Serif;*/
    /*font-family:'Conv_segoeuib',Sans-Serif;*/
    font-family: $segoeui-bold;
    font-size: $small-font-size;
    letter-spacing: .1px;
    outline: none;
    input.input_text,
    .form-type-checkbox label.label,
    p {
      font-family: $segoeui-regular;

      @media (max-width: 420px) {
        font-size: 12px;
      }
    }

    .form-item--error-message {
      line-height: 14px;
      margin: 5px 0;
      strong {
        font-size: 12px;
      }
    }
  }

  .ui-autocomplete {
    z-index: 9999;
  }
  .main-header {
    z-index: 110;

    .navbar-static-top {
      z-index: 1000;
    }
  }
  .main-sidebar {
    z-index: 99;
  }
  &.sidebar-mini.sidebar-collapse {
    .content-wrapper {
      /*background: #f0f4f7;*/
      background: transparent;
      margin-left: 0 !important;
      padding-left: 50px !important;
    }
    .main-sidebar {
      @media (min-width: 768px) {
        width: 0 !important;
        z-index: 99;
      }
    }
  }
  .navbar-custom-menu.user-menu-links {
    .sidebar-menu {
      > li {
        float: left;
        list-style-type: none;

        a {
          padding: 18px 10px 17px 15px;

          @media (max-width: 991px) {
            padding: 18px 7px 17px 7px;
          }
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0 0 15px;
}

h1,
.h1 {
  font-size: 25px;
  line-height: 28px;

  @media screen and (max-width: 767px) {
    font-size: 25px;
    line-height: 32px;
  }
}

h2,
.h2 {
  font-size: 22px;
  line-height: 24px;

  @media screen and (max-width: 767px) {
    font-size: 20px;
    line-height: 26px;
  }
}

h3,
.h3 {
  font-size: 20px;
  line-height: 22px;

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 24px;
  }
}

h4,
.h4 {
  font-size: 18px;
  line-height: 20px;

  @media screen and (max-width: 767px) {
    font-size: $basefont-size;
    line-height: 22px;
  }
}

h5,
.h5 {
  font-size: $basefont-size;
  line-height: 18px;

  @media screen and (max-width: 767px) {
    font-size: $small-font-size;
    line-height: $basefont-size;
  }
}

h6,
.h6 {
  font-size: $small-font-size;
  line-height: $basefont-size;
}

p {
  margin: 0 0 20px;
  word-wrap: break-word;

  @media screen and (max-width: 768px) {
    margin: 0 0 10px;
  }
}

img {
  @media screen and (max-width: 767px) {
    max-width: 100%;
  }
}

a {
  color: $base-color;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  transition: all .5s linear 0s;

  img {
    border: 0;
    outline: 0;
  }
}

.element-invisible {
  display: none;
}

div.warning,
table tr.warning {
  white-space: normal;
}

ul,
ol {
  margin: .5em 0 1em;
  padding: 0 0 0 1.0em;

  li {
    display: list-item;
    list-style-image: none;
    list-style-type: disc;
    margin: 0;
    padding: 0 0 5px;
  }
}

ul.list-inline {
  margin: .5em 0 1em;
  padding: 0 0 0 1.0em;

  li {
    display: inline-block;
    list-style-image: none;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.pagination > li {
  display: inline;
  &:first-child {
    a {
      border-radius: 0;
    }
  }

  a {
    background-color: transparent;
    border-radius: 0;
    color: $base-color;
    margin: 0 8px 0 0;
    padding: 0 6px;
    text-decoration: none;
  }

  &.active {
    a {
      background-color: transparent;
      border-color: $base-color;
    }
  }
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

ul.contextual-links,
.block ul.contextual-links,
ol.contextual-links {
  margin: 0;
  padding: 0;

  li,
  li.leaf {
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

ul.tabs.primary {
  white-space: normal;
}

.tabs--primary.nav.nav-tabs {
  margin: 0 0 15px;

  li {
    padding: 0;

    a {
      padding: 5px 10px;
    }
  }
}

table {
  border: 0;
  box-shadow: none;
  width: 100%;
  tbody {
    background-color: $white-color;
    border: 0;
  }

  tr {
    background-color: transparent;
    th {
      border: 1px solid rgba(151, 151, 151, .3);
      font-size: 1.200em;
      font-weight: 700;
      line-height: 1.38;
      padding: 20px 40px;
      @media screen and (max-width: 991px) {
        padding: 15px;
      }
      @media screen and (max-width: 460px) {
        padding: 15px 10px;
      }
    }

    td {
      border: 1px solid rgba(151, 151, 151, .3);
      font-size: 1.067em;
      padding: 20px 40px;
      vertical-align: top;
      @media screen and (max-width: 991px) {
        padding: 15px 30px;
      }
      @media screen and (max-width: 460px) {
        padding: 15px 10px;
      }

      .btn,
      button {
        margin-bottom: 0;
        margin-top: 0;
      }
      a {
        text-decoration: none;
      }
    }
  }
  &.table-striped {
    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: #fff;
        }
      }
    }
  }
}

.table-responsive {
  box-shadow: none;
  margin-bottom: 30px;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.3);
    border-radius: 4px;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

img {
  max-width: 100%;
}


.messages {
  &.messages--status {
    margin-bottom: 20px;
    .messages__list {
      li {
        margin-left: 15px;
      }
    }
  }
}

// Note: !important used to override other css file.
body.admin_custom_theme {
  overflow-x: auto;
  overflow-y: hidden;
  @media screen and (max-width: 767px) {
    overflow-y: scroll;
  }
  .page-title {
    font-size: 26px;
    padding: 0 10px;
  }
  .main-header {
    .logo {
      display: inline-block;
      height: 60px;
      width: auto !important;
      @media screen and (max-width: 767px) {
        max-width: 190px !important;
        padding: 6px 5px;
      }
      @media screen and (max-width: 450px) {
        max-width: 190px !important;
      }
      img {
        width: 100%;
      }
    }
  }
  .wrapper {
    /*background-color: #f0f4f7;*/
    background-color: transparent;
    overflow-x: unset;
    overflow-y: unset;
    @media screen and (max-width: 767px) {
      overflow-x: auto;
    }
    .content-wrapper {
      background-color: transparent;
      .content {
        /*background: #f0f4f7 url(../images/admin_back.jpg) no-repeat;*/
        background-attachment: fixed;
        background-position: right;
        background-size: 80%;
        border: 0 none;
        color: $base-color;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        /*max-height: 250px;
        min-height: 570px;
        overflow-y: auto;*/
        padding-top: 60px;
        @media screen and (max-width: 767px) {
          padding-top: 75px;
        }
        @media screen and (max-width: 380px) {
          padding-top: 75px;
        }
        .nav-tabs-custom {
          background: transparent;
          box-shadow: none;

          > .tab-content {
            background: transparent;
            @media screen and (max-width: 767px) {
              padding: 0;
            }
          }
        }
        @media screen and (max-width: 767px) {
          padding-left: 8px;
          padding-right: 8px;
        }
      }
    }
  }
  * {
    box-sizing: border-box;
    font-weight: normal;
  }
  .mCustomScrollBox {
    /*background: #f0f4f7;*/
  }
  .mCSB_container {
    @media screen and (max-width: 767px) {
      margin-right: 12px;
    }
  }
  .mCSB_scrollTools {
    visibility: visible !important;
    /*background-color: #fff !important;*/
    width: 8px;
    .mCSB_dragger {
      .mCSB_dragger_bar {
        background-color: $theme_color;
        /*height: 90px;*/
        width: 8px;

        &:hover {
          background-color: $theme_color;
        }
        @media screen and (max-width: 767px) {
          width: 6px;
        }
      }
    }
    @media screen and (max-width: 767px) {
      /*border: 1px solid $border_mobile;*/
      width: 12px;
    }
  }
  .label {
    color: $level_color;
    color: $base-color;
    display: inline-block;
    float: left;
    font-family: $segoeui-regular;
    font-size: $small-font-size;
    line-height: 27px;
    padding: 0;
    text-align: left;
    text-transform: capitalize;
    width: 200px;
  }
  .form-actions {
    margin-bottom: 2em;
    @media screen and (max-width: 767px) {
      margin-bottom: 4em;
    }
  }
  .form-control {
    border-color: $border-light;
  }
  .btn-primary,
  .button--primary {
    background: $theme_color;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    font-family: $segoeui-regular;
    font-weight: normal;
    padding: 6px 30px;
    @media screen and (max-width: 380px) {
      padding: 2px 20px;
    }
    &:hover,
    &:active,
    &:focus {
      border: 1px solid $theme_color;
    }
  }
  .btn {
    &:focus,
    &:active {
      outline: none !important;
    }
  }
  &.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
    margin-left: 0;
  }
  .navbar-custom-menu.user-menu-links {
    .sidebar-menu > li {
      a {
        span {
          @media (max-width: 480px) {
            font-size: 13px;
          }
        }
      }
    }
  }
  .toolbar-oriented .toolbar-bar {
    @media screen and (max-width: 609px) {
      top: -42px;
    }
  }
  .ratings {
    color: #b1b1b1;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    .star-percentage {
      display: none;
    }
    .full-stars {
      color: #ecbe24;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      white-space: nowrap;
    }
    .empty-stars:before,
    .full-stars:before {
      content: "\2605\2605\2605\2605\2605";
      font-size: 17pt;
      letter-spacing: 3px;
      @media (max-width: 480px) {
        font-size: 12pt;
      }
    }
    .empty-stars:before {
      -webkit-text-stroke: 1px #bfbebe;
    }
    .full-stars:before {
      -webkit-text-stroke: 1px orange;
    }
  }
}
.noresult {
  display: none;
}
.js-quickedit-page-title.page-title {
  padding: 10px 10px 0 10px;
}
#masquerade-block-form {
  .input_text {
    margin-bottom: 10px;
  }
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover {
  > a > span:not(.pull-right),
  > .treeview-menu {
    display: none !important;
  }
}

.home_legends {
  position: relative;
  text-align: center;
  top: -55px;
  .box-legend {
    padding: 0 10px;
    &.blue-box {
      &:before {
        background-color: $theme_color;
        content: "";
        display: inline-block;
        height: 10px;
        margin-right: 10px;
        width: 25px;
      }
    }
    &.grey-box {
      &:before {
        background-color: #d5d5d5;
        content: "";
        display: inline-block;
        height: 10px;
        margin-right: 10px;
        width: 25px;
      }
    }
    &.red-box {
      &:before {
        background-color: #f00;
        content: "";
        display: inline-block;
        height: 10px;
        margin-right: 10px;
        width: 25px;
      }
    }
  }
}
.category_chart_wrp,
.skill_chart_wrp {
  .home_legends {
    top: -10px;
  }
}
.form-type-select {
  position: relative;
  &:after {
    color: #1f363f  ;
    content: "\e911";
    cursor: pointer;
    display: inline-block;
    font-family: "icomoon";
    pointer-events: none;
    position: relative;
    right: 23px;
    top: 7px;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    padding: 0 10px;
    position: relative;
    &.form-control {
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
  select::-ms-expand {
    display: none;
  }
}

#chart_div,
#category_details_chart {
  svg {
    text[text-anchor="end"] {
      cursor: pointer;
      text-transform: capitalize;
    }
  }
}

.form-type-checkbox {
  display: flex;
  margin: 0;
  margin-bottom: 4px !important;
  input.form-checkbox.input_text {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }
  [type="checkbox"]:checked + label,
  [type="checkbox"]:not(:checked) + label {
    position: relative;

    &:after {
      background: #fff;
      border: 1px solid $border-light;
      content: "";
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      height: 23px;
      left: 100%;
      line-height: 30px;
      padding: 0 5px;
      position: absolute;
      text-align: center;
      width: 23px;
    }
  }
  [type="checkbox"]:checked + label {
    &:before {
      border: solid $theme_color;
      border-width: 0 3px 3px 0;
      content: "";
      height: 17px;
      left: 100%;
      margin-left: 7px;
      position: absolute;
      top: 2px;
      transform: rotate(45deg);
      width: 8px;
      z-index: 1;
    }
  }
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button {
  opacity: 0;
}
input[type="date"]::-webkit-clear-button {
  display: none;
}
.hidded-nid {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ui-dialog-titlebar {
  border: 0;
  margin: 0;
  padding: 0 !important;

  .ui-dialog-title {
    background: $theme_color;
    border: 0;
    color: #fff;
    display: inline-block;
    font-family: "Conv_segoeuib",Sans-Serif;
    margin: 0;
    padding: 10px 20px;
    text-transform: capitalize;
    width: 100%;
  }
}
.ui-dialog-buttonpane {
  background: #fff !important;
  border: none;
}

.row-popup {
  > span {
    display: inline-block;
    vertical-align: top;
    &.row-popup-title {
      max-width: 50%;
      width: 145px;
      @media screen and (max-width: 767px) {
        width: 45%;
      }
    }
    &.regular-font {
      font-family: $segoeui-regular;
      margin-left: 10px;
      width: 45%;
      @media screen and (max-width: 767px) {
        margin-left: 0;
        overflow-wrap: break-word;
        width: 45%;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}

.table-hover {
  & > tbody {
    & > tr {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.user-360-header {
  text-align: center;
}

.nav {
  & > li {
    & > a {
      @media screen and (max-width: 350px) {
        padding: 10px 6px;
      }
    }
  }
}
