@import "sass/mixins/global-variables";
@import "sass/mixins/global-mixins";

.path-users {
  .form-type-select {
    &:after {
      position: absolute;
      right: 11px;
      top: 33px;
    }
  }
  .view-users {
    .views-table {
      thead {
        tr {
          background-color: $theme_color;
        }
      }
      td {
        .form-type-checkbox {
          input {
            &.form-checkbox.input_text {
              appearance: checkbox;
              opacity: 1;
              z-index: 0;
              @media screen and (max-width: 767px) {
                position: relative;
              }
            }
          }
        }
      }
    }
  }
}
