@import "sass/mixins/global-variables";
@import "sass/mixins/global-mixins";

// Note: !important used to override other css file.

.user-reset-page {
  .navbar-custom-menu {
    .navbar-nav {
      .sidebar-menu {
        display: none;
      }
    }
  }
  .nav-tabs-custom {
    margin: 10px;
    #edit-actions {
      text-align: left;
    }
  }
}
