// Variables
$basefont-size: 16px;
$base-color: #1c394d;
$small-font-size: 14px;
$white-color: #fff;
$dark-blue: #0d80c0;
$light-blue: #46beff;
$black: #000;
$completed: #6dc53d;
$incomplete: #bc4d3f;
$moderate: #f1aa00;
$star-ratings: #f5a518;
$star-without-ratings: #d3d1d2;
$label_color: #455a64;
$level_unchecked: #b0c6d4;
$level_checked: #008ec3;
$border: #9a9a9a;
$border_mobile: #ccc;
$border-light: #dfdfdf;
$level_color: #474645;
$level_background: #e2e2e2;

// Font variable
$segoeui-regular: "Conv_segoeui",Sans-Serif;
$segoeui-bold: "Conv_seguisb",Sans-Serif;
$segoeui-semibold: "Conv_segoeuib",Sans-Serif;
$segoeui-semi-bold: "Conv_seguisb",Sans-Serif;
$icomoon-font: "icomoon";

// Media Query Breakpoints
$mobile-max: 767px;
